@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  Margin: 0;
  padding: 0;
}

.titulo__principal--md {
  text-align: center;
  color: #0032a0;
  font-size: 1.8em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin: auto;
  padding: 40px 0px;
}

.banner__principal {
  width: 100%;
  height: auto;
}

@keyframes bannerAnimaciones {
  0% {
    background-image: url(../img/banner01.jpg);
  }
  25% {
    background-image: url(../img/banner02.jpg);
  }
  50% {
    background-image: url(../img/banner03.jpg);
  }
  75% {
    background-image: url(../img/banner04.jpg);
  }
  100% {
    background-image: url(../img/banner05.jpg);
  }
}
#slider__general {
  height: 65vh;
  background-size: cover;
  animation-name: bannerAnimaciones;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #slider__general {
    height: 55vh;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (min-width: 360px) and (max-width: 768px) {
  #slider__general {
    height: 35vh;
  }
}

.contenedor__convenios {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  width: auto;
  background: #ffffff;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
}

.contenedor__especialidad {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
  width: auto;
  background: #0032a0;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
}

.fondo__enlace {
  font-size: 1.2em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background: aliceblue;
  padding: 0;
  margin: 0;
}
.fondo__enlace a {
  display: flex;
  justify-content: center;
  flex-direction: none;
  text-align: center;
  padding: 40px;
  font-size: 1.2em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #0f1d3a;
  cursor: pointer;
}
.fondo__enlace a:hover {
  color: #0032a0;
  font-weight: 400;
  border: solid 0px #89bada;
}

article {
  max-width: 900px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: none;
  background: linear-gradient(to right, #00b4f6 0%, #00d9e2 66%, #00ecd8 100%);
  justify-items: center;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  padding: 20px;
}
main .seccion__formulario {
  padding-left: 50px;
}
main .seccion__formulario .boton__azul {
  background: #0032a0;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  padding: 0 30px;
  cursor: pointer;
  margin: 2px;
}
main .seccion__formulario .input__suscripcion {
  cursor: text;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 130px 0 20px;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 1.2em;
  color: #646464;
}

.contenido__nosotros, .contenido__medicos, .contenido__servicios, .contenido__especialidades {
  text-align: justify;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  background: #ffffff;
  color: #080311;
  word-spacing: 50%;
  width: 600px;
  height: auto;
  padding: 50px 50px;
}

.img__nosotros {
  width: 600px;
  height: 400px;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.img__nosotros img {
  width: 50%;
  height: auto;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.contenedor__card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  padding: 40px 0px;
}
.contenedor__card img {
  width: 100%;
  height: 300px;
  justify-items: center;
}

.img__especialidades {
  width: 600px;
  height: auto;
  bottom: 0;
  left: 0;
}

.contenedor__especialidades {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #f9f9fa;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 20px 0px;
}
.contenedor__especialidades img {
  width: 100%;
}

.img__staff {
  width: 100%;
  bottom: 0;
  left: 0;
}

.galeria__staff {
  margin: 20px;
  padding: 20px;
  display: flex;
}
.galeria__staff .figura {
  text-align: center;
  color: #0032a0;
  font-weight: 700;
  text-decoration: none;
}
.galeria__staff .figura .figura__imagen {
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

.img__servicios {
  width: 600px;
  height: 400px;
  object-fit: cover;
  bottom: 0;
  left: 0;
}

.figura__servicios {
  width: 100%;
  object-fit: contain;
  bottom: 0;
  left: 0;
}

.formulario__horarios {
  width: 500px;
}

.texto__horario {
  color: #0a0a0a;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.contenido__horario {
  color: #0a0a0a;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.caja__general {
  margin: auto;
  height: 500px;
  width: 500px;
  position: relative;
}

.err {
  color: #0a0a0a;
  font-family: "Noto Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #0a0a0a;
}

.err2 {
  color: #0a0a0a;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-size: 1.8em;
  position: absolute;
  left: 16%;
  top: 50%;
  width: 75%;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #ba81f0;
}
a:hover {
  color: #0032a0;
  text-decoration: underline;
}

.footer__copyright {
  font-size: 1.2em;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

#contenido__home {
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "header" "slider" "contenido__convenios" "especialidades__home" "nosotros__home" "contenido__home" "suscribete" "footer";
}
#contenido__home #header {
  grid-area: header;
}
#contenido__home #slider {
  grid-area: slider;
}
#contenido__home #contenido__convenios {
  grid-area: contenido__convenios;
}
#contenido__home #especialidades__home {
  grid-area: especialidades__home;
}
#contenido__home #nosotros__home {
  grid-area: nosotros__home;
}
#contenido__home #contenido__home {
  grid-area: contenido__home;
}
#contenido__home #suscribete {
  grid-area: suscribete;
}
#contenido__home #footer {
  grid-area: footer;
}

#contenido__nosotros {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "slider" "nosotros__contenido" "nosotros__card" "suscribete" "footer";
}
#contenido__nosotros #header {
  grid-area: header;
}
#contenido__nosotros #slider {
  grid-area: slider;
}
#contenido__nosotros #nosotros__contenido {
  grid-area: nosotros__contenido;
}
#contenido__nosotros #nosotros__card {
  grid-area: nosotros__card;
}
#contenido__nosotros #suscribete {
  grid-area: suscribete;
}
#contenido__nosotros #footer {
  grid-area: footer;
}

#contenido__especialidades {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "slider" "especialidades__intro" "especialidades__esp" "suscribete" "footer";
}
#contenido__especialidades #header {
  grid-area: header;
}
#contenido__especialidades #slider {
  grid-area: slider;
}
#contenido__especialidades #especialidades__intro {
  grid-area: especialidades__intro;
}
#contenido__especialidades #especialidades__esp {
  grid-area: especialidades__esp;
}
#contenido__especialidades #suscribete {
  grid-area: suscribete;
}
#contenido__especialidades #footer {
  grid-area: footer;
}

#contenido__staff {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "slider" "staff__contenido" "staff__card" "suscribete" "footer";
}
#contenido__staff #header {
  grid-area: header;
}
#contenido__staff #slider {
  grid-area: slider;
}
#contenido__staff #staff__contenido {
  grid-area: staff__contenido;
}
#contenido__staff #staff__card {
  grid-area: staff__card;
}
#contenido__staff #suscribete {
  grid-area: suscribete;
}
#contenido__staff #footer {
  grid-area: footer;
}

#contenido__servicios {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "slider" "servicios__contenido" "servicios__card" "suscribete" "footer";
}
#contenido__servicios #header {
  grid-area: header;
}
#contenido__servicios #slider {
  grid-area: slider;
}
#contenido__servicios #servicios__contenidos {
  grid-area: servicios__contenido;
}
#contenido__servicios #servicios__card {
  grid-area: servicios__card;
}
#contenido__servicios #suscribete {
  grid-area: suscribete;
}
#contenido__servicios #footer {
  grid-area: footer;
}

#contenido__horarios {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header" "slider" "horarios__contenido" "horarios__formulario" "suscribete" "footer";
}
#contenido__horarios #header {
  grid-area: header;
}
#contenido__horarios #slider {
  grid-area: slider;
}
#contenido__horarios #horarios__contenido {
  grid-area: horarios__contenido;
}
#contenido__horarios #horarios__formulario {
  grid-area: horarios__formulario;
}
#contenido__horarios #suscribete {
  grid-area: suscribete;
}
#contenido__horarios #footer {
  grid-area: footer;
}

/*# sourceMappingURL=main.css.map */
