//vars globals

//maps
$colors:(
    'uno': rgba(243, 248, 250, 0.932),
    'dos': #0032a0,
    'tres': #0f1d3a,
    'cuatro': #89bada,
    'cinco': #f9f9fa,
    'seis': #89bada,
    'siete': #0a96ff,
    'ocho': #ba81f0,
    'nueve': #ffffff,
    'diez': #080311,
    'once': #646464,
    'doce': #f3fcfc,
    'trece': #0a0a0a,
    'catorce': aliceblue,
);

//sizing
$w-100: 100%;
$w-50: 50%;
$w-40: 40%;
$w-60: 600px;
