//vars globals

//colors
$mainColor: rgba(243, 248, 250, 0.932);
$azul: #0032a0;
$enlace: #0f1d3a;
$hover-enlace: #89bada;
$light: #f9f9fa;
$celeste: #89bada;
$cian: #0a96ff;
$lila: #ba81f0;
$white: #ffffff;
$dark: #080311;
$marron: #646464;
$content: #f3fcfc;
$black: #0a0a0a;

//sizing
$w-100: 100%;
$w-50: 50%;
$w-40: 40%;
